<link rel="import" href="/app/bower_components/polymer/polymer.html"/>
<link rel="import" href="/app/bower_components/paper-button/paper-button.html"/>

<dom-module id="create-talk-component">
    <link rel="stylesheet" href="create-talk-component.css"/>
	<template>
		<container class="container">
			<section>
				<form>
					<h2>Create / Edit Talk</h2>
					<p>
						<input type='text' id="talk_name" placeholder="Name" ng-model="talk.name">
					</p>
					<p>
						<input type='text' id="talk_location" placeholder="Location" ng-model="talk.location">
					</p>
					<p>
						<input type='date' id="talk_start" class="date" placeholder="Start Date" ng-model="talk.start">
						- <input type='date' id="talk_end"  class="date" placeholder="End Date"  ng-model="talk.end">
					</p>
					<p>
						Categorie: 
						<select id="talk_categorie" size="1" ng-model="talk.categorie" ng-options="p as p for p in prefixes"/></select>
					</p>
					<button raised class="toggle" ng-click="onSave()">Save Talk</button>
				</form>
			</section>
		</container>
	</template>
	
	<script>
		Polymer({
			is: "create-talk-component"
		});
	</script>
</dom-module>