
     <h1>Details des Events : {{event.name}}</h1>
	<content id="main-content">
   
	 
		<h2>Beschreibung:</h2>
		<description>
			<p>
			  {{event.beschreibung}}
			</p>
		</description>
		
		<section ng-show="showOnWarteliste">
			Sie sind auf der Warteliste
		</section>
		
		 <button class='toggle' id="apply-for-event" ng-click="apply();" ng-show="!hasApplyed">Anmelden für dieses Event</button>
		 <button class='toggle' id="apply-for-event" ng-click="unsubscribe();" ng-show="hasApplyed">Abmelden</button>
	</content>
	
	<aside id="aside">
		<details>
			<p>
			<label>Ort:</label>
			<location>{{event.ort}}</location>
			</p>
			<p>
			<label>Datum:</label>
			<date>{{event.datumVon}}  {{event.datumBis ?  '- '+ event.datumBis : ''}}</date>
			</p>
			
			<p>
			<label>Teilnehmer:</label>
			<kapazitaet>{{event.teilnehmer.length}}/{{event.kapazitaet ? event.kapazitaet : '∞'}}</kapazitaet>
			</p>
			
			<p>
			<label>Kategorie:</label>
			<kategorie>{{event.kategorie.name}}</kategorie>
			</p>
		</details>
	</aside>
	
  