#footer {
	border-top: 2px solid #E95D3C;
	color: gray;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 25px;
}

#footer #footer-content{
	margin: 0 auto;
	min-width: 600px;
    width: 80%;
}

.footer-item-left::after {
    content: "|";
}
.footer-item-left, .footer-item-right {
    color: black !important;
    padding-right: 3px;
	float: left;
}
.footer-item-right{
	float: right;
}

@media screen and (max-width: 960px) {
	.nav-text {
		display: none;
	}
	
	.footer-item-left .nav-text{
		display: inherit;
	}
}