<link rel="stylesheet" href="components/create-talk-component/create-talk-component.css"/>

<container class="container">
	<section>
		<form id="form" ng-submit="submit(talk)">
			<h2 ng-if="!edit">Create Talk</h2>
			<h2 ng-if="edit">Edit/Delete Talk</h2>
			<p>
				<input type='text' id="talk_name" placeholder="Name" ng-model="talk.name">
			</p>
			<p>
				<input type='text' id="talk_location" placeholder="Location" ng-model="talk.location">
			</p>
			<p>
				<input type='date' id="talk_start" class="date" placeholder="Start Date" ng-model="talk.start">
				- <input type='date' id="talk_end"  class="date" placeholder="End Date"  ng-model="talk.end">
			</p>
			<p>
				Categorie: 
				<select type="text" id="talk_categorie" size="0" 
					ng-model="talk.categorie" ng-options="p as p for p in prefixes"/></select>
			</p>
			<button id="create" class="toggle" type="submit" ng-if="!edit">Create</button>
			<button id="edit" class="toggle" type="submit" ng-if="edit">Edit</button>
			<button id="decline" class="toggle" type="button" ng-click="decline(talk.id)" ng-if="edit">Decline</button>
			<button id="cancel" class="toggle" type="button" ng-click="cancel()">Cancel</button>
		</form>
	</section>
</container>
