<content>
    <h1>Statistik</h1>
    <article>
        <h4>Zugriffszahlen 2015</h4>
        In dem Diagramm wird dargelegt, wie die Zugriffszahlen auf unsere Website im Jahresverlauf waren
        <div ng-mouseover="accessDataReloadVisible = true"
              ng-mouseleave="accessDataReloadVisible = false"
              style="max-width: 500px; width: 500px; position: relative; margin: 0 auto;">
          <iron-icon icon="icons:autorenew"
              ng-click="reloadAccessData()"
              ng-show="accessDataReloadVisible"
              ng-mouseover="accessDataReloadVisible = true"
              style="background-color: white;position: absolute;right: 0;z-index: 1000;">
            </iron-icon>
          <canvas class="chart chart-line" chart-data="accessData.data" chart-labels="accessData.labels"
                                            chart-legend="true" chart-series="accessData.series"
                                            ng-mouseover="accessDataReloadVisible = true">
          </canvas>
        </div>
    </article>
    <div style="clear: both;"></div>
    <article>
        <h4>Anmeldungen / Teilnahmen 2015 </h4>
        In der folgenden Abbildung sind die Anmeldungen und Teilnahmen an unseren Veranstaltungen innerhalb des letzten
        Jahres sichtbar.
        <div ng-mouseover="registrationDataReloadVisible = true"
              ng-mouseleave="registrationDataReloadVisible = false"
              style="position: relative; max-width: 500px; width: 500px; margin: 0 auto;">
          <iron-icon icon="icons:autorenew"
              ng-click="reloadRegistrationData()"
              ng-show="registrationDataReloadVisible"
              ng-mouseover="registrationDataReloadVisible = true"
              style="background-color: white;position: absolute;right: 0;z-index: 1000;">
            </iron-icon>
          <canvas class="chart chart-bar" chart-data="registrationData.data" chart-labels="registrationData.labels"
                                            chart-legend="true" chart-series="registrationData.series"
                                            ng-mouseover="registrationDataReloadVisible = true">
          </canvas>
        </div>
    </article>
</content>
