logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
*.log
microservices/event/db/*
microservices/event/node_modules/*
microservices/talk/db/*
microservices/talk/node_modules/*
microservices/recommendation/db/*
microservices/recommendation/node_modules/*
microservices/email/db/*
microservices/email/node_modules/*
microservices/statistics/db/*
microservices/statistics/db_test/*
microservices/statistics/node_modules/*
microservices/user/db/*
microservices/user/node_modules/*