    <link rel="stylesheet" href="components/profil-component/profil-component.css"/>
            <card id="card" class="card">
                <!-- Edit -->
                <section class='edit' ng-class="{'flipped' : flipped }">
                    <img src="{{user.image}}" class="user-image" />
                    <p>

                        <input ng-model="user.image" class='toggle'
                           onchange="angular.element(this).scope().file_changed(this)"
                           type="file" accept="image/*" />

                    </p>

                    <p>
                        <input type='text' id="account_username" placeholder="Username"  ng-model="user.name">
                    </p>

                    <p>
                        <input type='email' id="account_email" placeholder="E-mail"  ng-model="user.email">
                    </p>

                    <p>
                        <input type='password' id="account_password" placeholder="Password"
                               ng-model="user.password">
                    </p>

                    <p>
                        <input type='password' id="account_password_confirmation" placeholder="Confirm password"
                               ng-model="user.repassword">
                    </p>

                    <p>
                        <button class='toggle' id="save" ng-click="onsave(user)">Save</button>
                    </p>
                    <p>
                        <button class='toggle' ng-click="flip(flipped)">Zurück</button>
                    </p>


                </section>

                <!-- View -->
                <section class='view' ng-class="{'flipped' : !flipped }">
                    <img src="{{user.image}}" class="user-image" />

                    <p>

                    <h3>{{user.name}}</h3>
                    </p>
                    <p ng-if="editable">
                        <button class='toggle' ng-click="flip(flipped)">Edit</button>
                    </p>

                </section>
            </card>