<link rel="stylesheet" href="components/event-table-component/event-table-component.css"/>

<div ng-if="data.length == 0 && highlighted.length == 0">
    <td> <strong>No results found...</strong> </td>
</div>
<div class="styleTable">
    <table >
        <tr>
            <th ng-repeat="column in columns">{{column.title}}</th>
            <th ng-show="clickable"></th>
        </tr>
        <tr  class="highlighted" ng-repeat="row in highlighted">
            <td ng-repeat="column in columns">{{row[column.name]}}</td>
            <td ng-show="clickable">
                <button ng-click="onSelect({row: row})" >
                    <iron-icon icon="search"></iron-icon>
                </button>
            </td>
        </tr>
        <tr  ng-repeat="row in data" >
            <td ng-repeat="column in columns">{{row[column.name]}}</td>
            <td ng-show="clickable">
                <button ng-click="onSelect({row: row})" >
                    <iron-icon icon="{{icontype}}"></iron-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
