* {
    box-sizing: border-box;
}

.container {
    font-family: verdana;
    height: 390px;
    perspective: 500px;
    position: relative;
    width: 100%;
}

.card {
    border-radius: 5px;
    border: 1px solid #CCC;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
    width: 100%;
    box-shadow: 0px 0 10px #ccc;
}

.card section {
    backface-visibility: hidden;
    border-radius: 5px;
    position: absolute;
}

form {
    font-size: 0.8em;
    padding: 10px;
    padding-top: 0px;
}

input {
    border: 1px solid #ccc;
    font-size: 0.9em;
    padding: 2px 5px;
    width: 100%;
    border-radius: 5px;
    height: 35px;
}

input[type='checkbox'] {
    width: auto;
    height: auto;
}

.signup {
    /* Hintergrund */
    /*transform: rotateY(180deg);*/
}

.card .flipped {
    transform: rotateY(180deg);
    -moz-backface-visibility: hidden;
}

.signin,
.signup {
    width: 100%;
    height: 100%;
}

.toggle {
    display: block;
    background-color: rgb(148, 201, 243);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .card {
        background-color: green;
    }

}